* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0089BA;
}

.title {
  text-align: center;
  color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-size: 2.5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.scoreboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #B00000;
  padding: 0.3rem 3rem;
  font-size: 2rem;
  background-color: #B00000;
  color: white;
  position: relative;
  left: 1rem;
}

.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #B00000;
  padding: 0.3rem 1rem;
  font-size: 2rem;
  background-color: #B00000;
  color: white;
  position: relative;
  right: 1rem;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  border-style: solid;
  padding: 0 2rem;
  border-radius: 10px;
  z-index: -1;
}

.game-output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.player-choice {
  border-radius: 10px;
  margin: 0 2rem;
  padding: 2rem;
  transform: scaleX(-1);
  background-color: #FFFFFF;
  color: rgb(255, 185, 55);
}

.computer-choice {
  border-radius: 10px;
  margin: 0 2rem;
  padding: 2rem;
  background-color: #FFFFFF;
  color: rgb(255, 185, 55);
}

.result {
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(255, 185, 55);
  margin-top: 3rem;
  gap: 3rem;
}

.weapon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 100px;
  margin: 0 2rem;
  padding: 2rem;
  background-color: #FAF9F6;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
  
.weapon:hover {
  transform: scale(1.1);
}
  
.weapon:active {
  transform: scale(0.9);
}

.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  text-align: center;
  color: red;
  font-size: 1.2rem;
  background-color: #008E9B;
  margin: 15% auto;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.play-again {
  display: block;
  margin: 3rem auto 1rem auto;
  padding: 1rem 2rem;
  border: solid;
  border-radius: 10px;
  background-color: #0081CF;
  color: #FFFFFF;
  font-size: 1.5rem;
  cursor: pointer;
} 

.play-again:hover{
  background-color: #2C73D2;
  transform: scale(1.1);
}

play-again:active {
  transform: scale(0.9);
}